
      body {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          margin: 0 auto;
          color: #ebe4cc;
          max-width: 498pt;
          background-color: #370b0b;
        }

      h2 {
		margin:2px;
		padding:0;
	}
      
      ul {
          list-style-type: "⇒";;
        }
    
  
      details {
          padding: 5px;
      }
  
      
      a {
          color:#ebe4cc;
      }
      
      a:hover {
          color: #ff0000;
      }
  
      pre {
          font-family: Monaco, monospace;
          padding: 5px;
          font-size: 16px;
          background-color: black;
          overflow-x: scroll;
      }
  
      code {
          font-family: Monaco, monospace;
          padding: 5px;
          line-height: 1.6;
          font-size: 14px;
          border-radius: 16px;
          background-color: black;
      }

      .icon {
		display: inline-block;
      }
